<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testScenarios.HandlingDynaData"/>
      <class name="testScenarios.DP"/>
      <class name="testScenarios.MouseOver"/>
      <class name="testScenarios.Rediff"/>
      <class name="testScenarios.ReadFrmWebTable"/>
      <class name="testScenarios.CompareWebTable"/>
      <class name="testScenarios.ThruTextFile"/>
      <class name="testScenarios.SwitchingWindow"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
